<ion-view view-title="Task Details" hide-back-button="false">
  <ion-content>

    <div class="">
      <h1 class="title paraCenter addPaddingtop">{{taskDetails.taskTitle}}</h1>
      <b><p class="paraJustified addPaddingtop paraPaddingLeftRight">
        {{taskDetails.taskDesc}}
      </p></b>
      <p class="addPaddingtop paraPaddingLeftRight">
        <b>Performance Date: </b>{{taskDetails.datePerform}}
      </p>
      <p class="addPaddingtop paraPaddingLeftRight">
        <b>Refrence:</b> {{taskDetails.taskRefrence}}
      </p>
      <p class="addPaddingtop paraPaddingLeftRight">
          <b>Status:</b> {{taskDetails.statusTask}}
      </p>
    </div>
  </ion-content>
</ion-view>
