<ion-view view-title="Edit Task" hide-back-button="false">
    <ion-content>
      <div class="">
        <div class="">
          <label class="item item-input item-floating-label">
            <span class="input-label">Task to do</span>
            <input type="text" placeholder="Add task" ng-model="taskToEdit.taskTitle">
          </label>
        </div>
        <div class="">
          <label class="item item-input item-floating-label">
            <span class="input-label">Task description</span>
            <input type="text" placeholder="Add description" ng-model="taskToEdit.taskDesc">
          </label>
        </div>
        <div class="">
          <label class="item item-input item-floating-label">
            <span class="input-label">dd-Month, YYYY</span>
            <input type="text" placeholder="Date to perform" ng-model="taskToEdit.datePerform">
          </label>
        </div>
        <div class=" addPaddingtop">
          <label class="item-input item-select">
            <div class="input-label">
              Status
            </div>
            <select ng-model="taskToEdit.statusTask">
              <option>Complete</option>
              <option selected>Incomplete</option>
              <option>Partial Complete</option>
            </select>
          </label>
        </div>
        <div class="" >
          <label class="item item-input item-floating-label">
            <span class="input-label">Refrence</span>
            <input type="text" placeholder="Add a refrence" ng-model="taskToEdit.taskRefrence">
          </label>
        </div>
      </div>
      <div class="buttonPadding">
        <button class="button button-block button-positive" ui-sref="home" ng-click="updateEditTask(taskToEdit)">
          Save
        </button>
      </div>
    </ion-content>
  </ion-content>
</ion-view>
